@tailwind base;
@tailwind components;
@tailwind utilities;

.todo-list-item{
  text-decoration: none;
}

.todo-list-item-checked{
  text-decoration: line-through;
}



/* ul > * {
  padding: 0.35rem;
  margin-top: 0.25rem;
  justify-content: start;
  align-items: center;

}
 */
.todo-list-item-container{
  display: flex;

  z-index: 1;
}

/* .deleteBtn, .updateBtn{
  margin-left: 1rem;
  display: none;
  z-index: 2;
} */

.todo-list-item-container:hover > *{
  display: block;
}

.show-forms{
  display: block;
}

.hide-forms{
  display: none;
}